.rightbar{
    flex: 4;
  
}

.rightbarWrapper{
    padding: 20px 0;

}
.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.birthdayContainer{
    display: flex;
    align-items: center;
  
}
.birthdayText{
    color: black;
    font-weight: 300;
    font-size: 15px;
}
.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

.rightTitle{
    color: black;
    margin-bottom: 20px;
}
.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 60%;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
}

.rightbarUsername{
    font-weight: 500;
}

.rightbarInfo{
    margin-bottom: 30px;

}
.rightbarInforItem{
    margin-bottom: 10px;

}

.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.rightbarInfoValue{
    font-weight: 300;
}


.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowing{
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   cursor: pointer;
}


.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;

}
.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}